{% extends 'base.html' %}
{% block content %}

<h1>Effect List</h1>

{% for effect in effecttype_list %}
  <a href="{% url 'effect_detail' effect.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ effect.name }}</span>
        </div>
        <form action="{% url 'effect_delete' effect.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Delete</button>
        </form>
    </div>
  </a>
{% endfor %}

{% endblock %}